<% if current_user.admin? %>
<div id="plantEdit">
  <h1>Editing Plant</h1>
    <%= render 'form', plant: @plant %>

    <%= link_to 'Back To Plant Page', @plant %> |
    <%= link_to 'Back To All Plants', plants_path %>
 </div>
<% else %>
  <center>
    You don't have access to this page!!!
  </center>
<% end %>
