<% if current_user.admin? %>
  <h1>Editing Plant</h1>
    <%= render 'form', plant: @plant %>

    <%= link_to 'Show', @plant %> |
    <%= link_to 'Back', plants_path %>
<% else %>
  <center>
    You don't have access to this page!!!
  </center>
<% end %>
