<div id="newPlantDiv">
	<% if current_user.admin? %>
		<h1>Add New Plant</h1>
			<%= render 'form', plant: @plant %>
			<%= link_to 'Back To Plants', plants_path %>
	<% else %>
		You don't have access to this page!!!
	<% end %>
</div>
