<div id="userPlantPage">
	<h1>My Plants</h1>
		<% if (@user.plants.nil? or @user.plants == []) %>
			<h3><a href="/plants">Add some plants</a> to your profile to get started!</h3>
		<% else %>
			<% @user.plants.each do |plant| %>
			<div class="plantdiv">
				<a class="plantPreview" href="/plants/<%= plant.id %>">
				<%= image_tag plant.image.url %></a><br>
				<%= button_to 'Remove Plant', plant_remove_path(plant) %>
			</div>
			<% end %>
		<% end %>
</div>
