<div id="userRecipePage">
	<h1>My Recipes</h1>
		<% if (@user.recipes.nil? or @user.recipes == []) %>
			<h3>Save some recipes to your profile! Go to "Find Recipes" to browse.</h3>
		<% else %>
			<% @user.recipes.each do |recipe| %>
				<span class="recipePreview">
				<%= image_tag recipe.rpic %><br />
				<%= recipe.title %></span>
			<% end %>
		<% end %>
</div>
