<div id="userRecipePage">
	<h1>My Recipes</h1>
		<% if (current_user.recipes.nil? or current_user.recipes == []) %>
			<h3>Save some recipes to your profile! Go to "Find Recipes" to browse.</h3>
		<% else %>
			<% current_user.recipes.each do |recipe| %>
				<span class="recipePreview">
				<%= image_tag recipe.rpic.url %><br />
				<%= recipe.title %></span>
			<% end %>
		<% end %>
</div>