<div id="userPostPage">
	<h1>My Posts</h1>
		<% if (@user.posts.nil? or @user.posts == []) %>
			<h3>Add a post to your profile!</h3><br />
			<!-- 'new post' button/link -->
			<button type="button" name="button" class="newPostButton">New Post</button>
		<% else %>
			<!-- 'new post' button/link -->
			<% @user.posts.each do |post| %>
				<a class="postPreview" href="/posts/<%= post.id %>">
				<%= image_tag post.picture.url %><br />
				<%= post.caption %></a>
			<% end %>
		<% end %>

</div>
