<div id="userPlantPage">
	<h1>My Plants</h1>
		<% if (@user.plants.nil? or @user.plants == []) %>
			<h3>Add some plants to your profile to get started!</h3>
		<% else %>
			<% @user.plants.each do |plant| %>
				<a class="plantPreview" href="/plants/<%= plant.id %>">
				<%= image_tag plant.image.url %></a>
			<% end %>
		<% end %>
</div>
