<% if user_signed_in? %>
  <div class="col-md-2 homelogin" style="display:none">
    <p>Welcome, <%= current_user.fname %></p>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  </div>
<% else %>
    <span style="display:none"><%= render file: "devise/sessions/new" %></span>
<% end %>

<div id="parallaxDiv">
<div id="intro">
  <div class="sc"></div>
   <div class="story">
      <div class="float-left">
         <h2>A little about us...</h2><br />
         <p>Nothing livens up a small area like a living, breathing, air-freshening plant. Always wanted some succulents for your windowsill or a Meyer lemon tree for your kitchen?  We’ve got you covered. Just because you don’t have access to an outdoor garden doesn’t mean you can’t grow your own herbs, fruits, and vegetables (yes, even in a tiny city apartment)!</p>
         <p>Browse different plants to check them out, and add plants you like (or already own) to your profile.  We’ll tell your how to take care of them, and what to expect (so you don’t end up with a plant that outgrows its planter)!  If you don’t have seeds (or don’t want to make the trek to your nearest nursery), don’t worry- we’ve got links on each of our plant pages to get you started.</p>
      </div>
   </div>
   <!--.story-->
</div>
<!--#intro-->
<div id="second">
  <div class="bg"></div>
   <div class="story">
      <div class="float-right">
         <h2>Find exactly what you want.</h2><br />
         <p>We’ve got a variety of plants, ranging from edible herbs and citrus to definitely-just-decorative cacti.  Worried about killing yet another plant (RIP Orchid #47) because you’re not home to water it every day?  Some of our low-maintenance plants only need to be watered once a week, or less.</p>
         <p>Indoor plants have been shown to reduce carbon dioxide levels, airborne dust levels, and even the levels of certain pollutants, while naturally keeping air temperatures down.</p>
      </div>
   </div>
   <!--.story-->
</div>
<!--#second-->
<div id="third">
   <div class="story">
      <div class="float-left">
         <h2>Put your plants to use!</h2><br />
         <p>If you’re growing edible plants, search through a variety of food and drink recipes based on different combinations of your homegrown herbs, fruits, and veggies.  Save recipes to your profile for easy access, and post pictures of your plants and recipe creations to share with other users.  Check out the feed for inspiration!</p>
      </div>
   </div>
   <!--.story-->
</div>
<!--#third-->
</div>
