/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "plants";
@import "posts";
@import "recipe";
@import "search";
@import "static";


html {
  .topnav {
    background: linear-gradient(#808080 , #fff);
    .navlogo {
      max-width: 15%;
      display: inline-block;
      margin: 2vh 5vw 2vh 10vw;
    }
    .navlogo2 {
      max-width: 15%;
      display: inline-block;
      margin: 2vh 5vw 2vh 10vw;
    }
    nav {
      text-align: center;
      display: inline-block;
      // margin-left: 10vw;
      vertical-align: bottom;
      ul {
        list-style: none;
        li {
          display: inline-block;
          padding: 0 3vw;
          padding-bottom: 3vh;
          font-size: 2vh;
          a {
            color: #666;
            padding: 1vh;
          }
          a:hover {
            background-color: rgba(255,255,255,0.4);
            border-radius: 25px;
            text-decoration: none;
          }
        }
      }
    }
  }
}
