// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.postdiv {
  text-align: center;
  background-color: rgba(0,190,90,0.2);
  border-radius: 25px;
  margin-top: 5vh;
    img {
      padding-top: 2vh;
    }
  ul {
    list-style: none;
    li{
    }
  }
}
